@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut et urna in augue cursus porta id eu metus. Sed faucibus, augue eget vehicula suscipit, neque nulla tristique libero, et tempor leo felis vitae augue. Nullam nec tortor elit. Sed accumsan dignissim scelerisque. Nunc elit lectus, condimentum quis arcu eget, tempor egestas nisi. Donec congue euismod cursus. Integer sodales in enim at congue. Nulla aliquam elementum pulvinar. Aliquam lacinia iaculis ultricies. Aliquam vehicula a leo ut consectetur. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae</p>
