@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Aliquam erat</h1>
    <p class="lead">Cras tincidunt orci eu eros mattis egestas. Nulla luctus id arcu ac maximus. Vivamus vel imperdiet risus, a tempus quam.</p>
    <p><a href="http://lipsum.com/" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Etiam consequat</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut et urna in augue cursus porta id eu metus. Sed faucibus, augue eget vehicula suscipit, neque nulla tristique libero, et tempor leo felis vitae augue. Nullam nec tortor elit. Sed accumsan dignissim scelerisque. Nunc elit lectus, condimentum quis arcu eget, tempor egestas nisi. Donec congue euismod cursus. Integer sodales in enim at congue. Nulla aliquam elementum pulvinar. Aliquam lacinia iaculis ultricies. Aliquam vehicula a leo ut consectetur. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae
        </p>
        <p><a class="btn btn-default" href="http://lipsum.com/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Nunc commodo</h2>
        <p>Praesent lacinia vestibulum mauris eget maximus. Aliquam erat volutpat. Phasellus rhoncus hendrerit dui consectetur scelerisque. Praesent fringilla ipsum at lorem luctus pulvinar. Ut aliquet condimentum accumsan. Donec venenatis nulla id lacinia auctor. Fusce ultricies rhoncus urna, at posuere massa ultrices vitae. Sed porta vestibulum elit ac mattis. Vivamus vitae eros tortor. Ut hendrerit urna at varius tempus. Morbi at dolor pellentesque, ullamcorper felis tempor, sollicitudin sapien.</p>
        <p><a class="btn btn-default" href="http://lipsum.com/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Vestibulum ante</h2>
        <p>Nunc non faucibus ante. Nam non arcu vel felis scelerisque viverra. Praesent cursus id nibh nec interdum. In hac habitasse platea dictumst. Proin eget condimentum mauris. Suspendisse at consectetur sapien, sed luctus mauris. Fusce bibendum efficitur lectus et blandit. Donec at ipsum eu justo pretium vulputate id nec risus. Nam a dolor at ante tristique tristique eget at velit. Pellentesque tincidunt neque vitae lectus accumsan, ac placerat massa tincidunt. Etiam eu ligula diam. Nulla rutrum accumsan maximus. Vestibulum viverra enim sit amet lacus maximus vestibulum. Cras tincidunt orci eu eros mattis egestas. Nulla luctus id arcu ac maximus. Vivamus vel imperdiet risus, a tempus quam.</p>
        <p><a class="btn btn-default" href="http://lipsum.com/">Learn more &raquo;</a></p>
    </div>
</div>